@import "./reset.scss";
@import "./fonts.scss";
@import "./common.scss";
@import "./keyframes.scss";
@import "../layout/header.scss";
@import "../layout/contents.scss";
@import "../layout/footer.scss";

// @import url(./reset.scss);
:root {
  --CPblue: #4285f4;
}
body {
  min-width: 1300px;
  overflow: hidden;
}
