@import "../base/common.scss";
.footer {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  background-color: #eeeeee !important;
  .footerWrap {
    width: 100%;
    height: 300px;
    max-width: 1200px;
    margin: 0 auto;

    .footerNav {
      //   text-align: center;
      ul {
        display: inline-block;
        li {
          display: list-item;
          float: left;

          a {
            display: block;
            padding: 26px 34px 26px 0;
            font-size: 15px;
            word-spacing: 1px;
          }
        }
      }
      .leftList {
        li {
          list-style: none;
          a {
            color: #666666;
          }
        }
      }
      .rightList {
        margin-left: 30px;
        font-size: 6px;
        li {
          color: #546220;
          list-style: disc;
          &:first-child {
            list-style: none;
          }
          a {
            color: #333333;
          }
        }
      }
    }
    .infoWrap {
      position: relative;
      padding-top: 35px;
      .address {
        font-size: 15px;
        color: #999999;
        font-style: normal;
        &::after {
          content: "";
          position: absolute;
          top: 23%;
          right: 21%;
          background: url(/public/src/resources/images/phomein/footer_relief_02.png)
            no-repeat;
          width: 94px;
          height: 85px;
        }
        .dailykingLogo {
          background: url(/public/src/resources/images/phomein/dailykinging_footer_logo_02.png)
            no-repeat;
          height: 24px;
        }
        address {
          padding-top: 20px;
          padding-bottom: 26px;
          font-style: normal;
          .space {
            position: relative;
            padding: 0px 10px;
            &::after {
              content: "";
              position: absolute;
              top: 2px;
              left: -1px;
              height: 18px;
              border-right: 1px solid rgba(164, 165, 165, 0.4);

              padding: 0 5px;
            }
          }
          strong {
            display: block;
            padding-top: 9px;
          }
        }
      }
    }
    .copyright {
      font-size: 12px;
      color: #999999;
      word-spacing: 0.8px;
      letter-spacing: 0.09px;
      span {
        text-transform: lowercase;
      }
    }
    .logoWrap {
      position: absolute;
      right: -2%;
      top: 24%;
      .snsWrap {
        background: url(/public/src/resources/images/phomein/ico_footer_sns_02.png)
          no-repeat;
        // width: 161px;
        // width: 300px;
        height: 25px;
        position: relative;
        li {
          display: inline-block;
          padding: 0px 18px 0px 0px;
          a {
            display: block;
            width: 25px;
            height: 25px;
            border-radius: 50%;

            span {
              display: block;
              text-indent: -9999px;
            }
          }
        }
      }
    }
  }
}
